.fixed_width {
    width: 50px
}

.center_box {
    text-align: center;
    margin: 0 auto;
}

table {
    height: 300px;
    overflow-y: scroll;
}

td.long_seq {
    word-break: break-all;
    width: 30%;
}

.right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}
