{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">

        {% block css %}{% endblock %}

        {% block title %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{% static 'js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.js' %}" crossorigin="anonymous"></script>
        {% block js %}{% endblock %}
    </body>
</html>