{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>CheckerAMP - dashboard</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to CheckerAMP</h1>
        <p>Paste your sequences or upload multi-FASTA file</p>
    </div>

    <form role="form" method="post" action="{{ request.path }}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container p-4">
            <div class="row">
                {% for message in messages %}
                    <div class="col-sm-12">
                        <div class="alert alert-{{ message.tags }} alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

                <div class="col-sm-12">
                    <h3>Submit sequences for prediction</h3>
                    {{ sample_form.sequence }}
                    {% if sample_form.sequence.errors %}
                        <div class="text-danger">{{ sample_form.sequence.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="col-sm-12 center_box">or</div>
                <div class="col-sm-12">
                    <div class="custom-file my-2">
                        <input type="file" class="custom-file-input" name="fasta_file" id="id_fasta_file">
                        <label class="custom-file-label" for="id_fasta_file">Choose FASTA file</label>
                    </div>
                    {% if sample_form.fasta_file.errors %}
                        <div class="text-danger">{{ sample_form.fasta_file.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Start process</button>
                </div>
            </div>

            {% include 'footer.html' %}
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#id_fasta_file').on('change', function() {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
        })
    </script>
{% endblock %}