{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" crossorigin="anonymous">
{% endblock %}

{% block title %}
    <title>CheckerAMP - {{ sample.uuid }}</title>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to CheckerAMP</h1>
        <p>Back to <a href="{% url 'dashboard' %}">Upload view</a></p>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <p>UUID: {{ sample.uuid }}</p>
                <p>Date created: {{ sample.created_date }}</p>
            </div>
            <div class="col-sm-6">
                <p>Fasta: <a href="{{ sample.fasta_file.url }}">Download</a></p>
            </div>
        </div>
        {% if sample.result %}
            <div class="row py-2">
                <div class="col-sm-6">
                    <p>Sequences amount: <span class="badge badge-dark">{{ result_len }}</span></p>
                </div>
                <div class="col-sm-6 right">
                    <a class="btn btn-dark text-white" href="{% url 'sample_csv_view' sample.slug %}">Download as
                        CSV</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-striped table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Sequence</th>
                            <th class="align-middle">Predicted class</th>
                            <th class="align-middle">AMP probability (%)</th>
                            <th class="align-middle">Target</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sequence in result %}
                            <tr>
                                <td>{{ sequence.id }}</td>
                                <td class="long_seq">{{ sequence.data }}</td>
                                <td>
                                    {% if sequence.proba > 50 %}
                                        AMP
                                    {% else %}
                                        Non-AMP
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sequence.proba >= 60 %}
                                        <span class="badge badge-success fixed_width">{{ sequence.proba }}</span>
                                    {% elif sequence.proba > 40 %}
                                        <span class="badge badge-warning fixed_width">{{ sequence.proba }}</span>
                                    {% else %}
                                        <span class="badge badge-danger fixed_width">{{ sequence.proba }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sequence.proba > 50 %}
                                        {% for model_name, prediction in sequence.additional_probabilities.items %}
                                            {% if prediction >= 80 %}
                                                <span class="badge badge-success cursor-pointer"
                                                      data-toggle="tooltip"
                                                      data-placement="top"
                                                      title="{{ prediction }}%">{{ model_name }}</span>
                                            {% elif prediction > 60 %}
                                                <span class="badge badge-warning cursor-pointer"
                                                      data-toggle="tooltip"
                                                      data-placement="top"
                                                      title="{{ prediction }}%">{{ model_name }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-center">
                    <div>
                        <img src="{% static "images/lg.dna-spin-spiral-preloader.gif" %}">
                    </div>
                </div>
            </div>
        {% endif %}

        {% include 'footer.html' %}
    </div>
{% endblock %}

{% block js %}
    {% if not sample.result %}
        <script type="text/javascript">
            setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'sample_status_view' sample.uuid %}",
                })
                    .done(function (response) {
                        if (response === 'DONE') {
                            location.href = ("{% url 'sample_display_view' sample.uuid %}");
                        }
                    });
            }, 1000)
        </script>
    {% endif %}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
